html,
body {
    height: 100%;
}

.text_box {
    padding: 30px;
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#container{
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

.center_buttons{
    margin:auto;
    display:block;
    width: 300px;
}
form {
  text-align: center;
  width: 50%;
  margin-left: 32%;
}
.custom-file-input::before {
  content: 'Select Text File';
  display: inline-block;
  background: linear-gradient(top, #fc4521, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
